@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Estamos quase lá!</h1>
    <p>A área dos <span class="label label-danger">Biscoitinhos da Vovó</span> ainda não está pronta.</p>
    <p><span class="label label-primary">Em breve</span> você poderá realizar pedidos dos deliciosos Biscoitinhos da Vovó!</p>
</div>

