@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de pedidos da semana - Total de pães de queijo <span id="totalPdq" class="badge"></span></h3>
        </div>
        <div class="panel-body">
            <table id="grid-data" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="Email" data-order="asc">E-mail</th>
                        <th data-column-id="Qtdade">Quantidade</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Pagou?</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="col-md-2"></div>


<script>
    $(document).ready(function () {

        $("#grid-data")
            .bootgrid({
                ajax: true,
                url: "ListarPedidos",
                selection: false,
                rowSelect: false,
                multiSelect: false,
                keepSelection: false,
                columnSelection: false,
                labels: {
                    all: "Todos",
                    infos: "Exibindo de {{ctx.start}} a {{ctx.end}} de {{ctx.total}} pedidos",
                    loading: "Carregando...",
                    noResults: "Nenhum pedido encontrado.",
                    refresh: "Atualizar",
                    search: "E-mail"
                },
                responseHandler: function (response) {
                    $('#totalPdq').html(response.totalpdq);
                    return response;
                },
                formatters: {
                    "commands": function (column, row) {
                        var html = "<button type=\"button\" class=\"btn btn-success btn-xs command-paid\" data-row-id=\"" + row.Login + "\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-danger btn-xs command-borrow disabled\" data-row-id=\"" + row.Login + "\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></button>";
                        if (row.Pago) {
                            html = "<button type=\"button\" class=\"btn btn-success btn-xs command-paid disabled\" data-row-id=\"" + row.Login + "\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-danger btn-xs command-borrow\" data-row-id=\"" + row.Login + "\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></button>";
                        }
                        return html;
                    }
                }
            })
            .on("loaded.rs.jquery.bootgrid", function (e) {
                $(this).find(".command-paid")
                    .on("click", function (e) {
                        Pagar($(this).data("row-id"), true);
                    }).end().find(".command-borrow")
                    .on("click", function (e) {
                        Pagar($(this).data("row-id"), false);
                    });
            })

        function Pagar(login, pagou) {
            $.ajax({
                url: "Pagar",
                type: "POST",
                data: { login: login, pagou: pagou },
                success: OnSuccessCallback,
                error: OnErrorCallback
            });
        }


        function OnSuccessCallback(data) {
            if (data.pagou) {
                $('.command-paid[data-row-id="' + data.Login + '"]').addClass('disabled');
                $('.command-borrow[data-row-id="' + data.Login + '"]').removeClass('disabled');
            } else {
                $('.command-paid[data-row-id="' + data.Login + '"]').removeClass('disabled');
                $('.command-borrow[data-row-id="' + data.Login + '"]').addClass('disabled');
            }

        }

        function OnErrorCallback(xhr, ajaxOptions, thrownError) {
            console.log(xhr);
            console.log(ajaxOptions);
            console.log(thrownError);
            $('#mensagemErro').text("Ocorreu um erro inesperado. Por favor, entre em contato com o administrador.");
            $('#myErrorModal').modal({
                backdrop: 'static'
            });

        }

    });
</script>
