@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Acesso negado!</b></h3>
        </div>
        <div class="panel-body">
            <h4 class="text-center">Desculpe mas você não possui acesso a essa área do site.</h4>
        </div>
    </div>
</div>
<div class="col-md-2"></div>

