@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Área restrita - Login</h3>
        </div>
        <div class="panel-body">
            <form id="formLogin" role="form" method="post">
                <div class="form-group">
                    <span class="help-block">Usuário</span>
                    @Html.TextBox("usuario", null, new { @id = "usuario", @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    <span class="help-block">Senha</span>
                    @Html.TextBox("senha", null, new { @type = "password", @id = "senha", @class = "form-control", @required = "required" })
                </div>
                <button id="btnLogin" type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4"></div>


